.underline-animation::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.underline-animation:hover::before {
  visibility: visible;
  width: 100%;
}

.pointy-line-left {
  background-image: linear-gradient(to right, transparent 0%, #000 50%, #000 100%);
  border-radius: 9999px;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

.pointy-line-right {
  background-image: linear-gradient(to left, transparent 0%, #000 50%, #000 100%);
  border-radius: 9999px;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.blob-motion {
  position: absolute;
  transform: translateY(-20%);
  z-index: 0;
}

.blob-content {
  z-index: 1;
}

.blobs {
  width: 100%;
  background: url("../../public/assets/svgs/blobs.svg") no-repeat bottom / cover;
}

/* Customize scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
  background-color: #700b2d;
  border-radius: 5px;
  border: 3px solid #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/* Bounce animation for the scale preLoacer */
/* styles/global.css */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(15px);
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}
